body
{
	background-color: skyblue;
	color: black;
	padding: 20px;
}
body
{
	font-family: Aerial;
	text-align: center;
	padding: 20px;
}
.categories{
	text-align: center;
	padding: 20px;
}
.about{
	text-align: center;
	padding: 20px;
}
.contact{
	text-align: center;
	padding: 20px;
}